body {
  background-color: #282c34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

form {
  padding: 200px;
  color: #ffff;
}

label {
  display: block;
  margin-top: 16px;
}

input {
  border: none;
  padding: 8px 25px;
  border-radius: 15px;
  margin-top: 8px;
}

button {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  padding: 8px 25px;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: #3267b6;
  color: #ffff;
}

button:hover {
  background-color: rgba(50, 103, 182, 0.8);
}

.error {
  color: rgba(255, 80, 80, 0.753);
}
